<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>contact</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <ul id="menu">
            <li><a href="index">Home</a></li>
            <li><a href="projects">Projects</a></li>
        </ul>
        <h1>Contact Info Here</h1>
        <form>
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname"><br>
            Email:<br>
            <input type="text" name="email"><br>
            Question:<br>
            <textarea cols="60" rows="6" placeholder="...answers to lifes mysteries will be answered as received"></textarea><br>
            <input type="submit" value="submit">
        </form>

    </body>
</html>
