<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <ul id="menu">
            <li><a href="projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        <h1>Welcome to Lee's Portfolio!</h1>
        <h3>About Me:</h3>
        <img src="~/img/dude.jpeg" width="150px" alt="dude photo" />
        <p>I am the smartest, funniest, most charming, generous, articulate and gracious person yet to be seen by the 
        planet earth. My creativity is boundless and my work ethic tireless. I am an expert martial artist, classically trained
        flautist, renowned author, curer of intractable juvenile maladies, awading winning chef and legendary cuddler. Please follow the links to learn more about the 
        masterworks or to contact this renaissance auteur. 
        </p>
    </body>
</html>