<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>projects</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <ul id="menu">
            <li><a href="index">Home</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        <h1>Project Folder Here</h1>
        <div>
            <h3>Project One</h3>
            <img src="~/img/sloth.jpeg" width="150px" alt="sloth photo" />
            <p>Sloths are arboreal mammals noted for slowness of movement and for spending most of their 
            lives hanging upside down in the trees of the tropical rainforests of South America and Central America. 
            The six species are in two families: two-toed sloths and three-toed sloths</p>
        </div>
        <div>
            <h3>Project Two</h3>
            <img src="~/img/nudi.jpeg" width="150px" alt="nudi photo" />
            <p>Nudibranchs (/ˈnjuːdɪbræŋk/[2]) are a group of soft-bodied, marine gastropod molluscs which shed their
            shells after their larval stage.[3] They are noted for their often extraordinary colours and striking forms,
            and they have been given colourful nicknames to match, such as "Clown", "Marigold", "Splendid", "Dancer" and "Dragon".
            [4] Currently, about 2,300 valid species of nudibranchs are known.[5]
            The word "nudibranch" comes from the Latin nudus, naked, and the Greek βραγχια, brankhia, gills.</p>
        </div>
        <div>
            <h3>Project Three</h3>
            <img src="~/img/nose.jpeg" width="150px" alt="nose photo" />
            <p>This amazing animal can be found only on the island of Borneo. It can weight up to 30 kg and is one of the largest monkeys in Asia.
             Usually, proboscis monkeys live in groups, but there are exceptions. More information about the species you can find in National Geographic’s article.</p>
        </div>
    </body>
</html>